if data.TRAFFICITEMS.TRAFFICITEM != 'undefined'
  each incident in data.TRAFFICITEMS.TRAFFICITEM
    h2=incident.TRAFFICITEMDESCRIPTION['0'].content
    p='Start: '+incident.STARTTIME
    p='Ende: '+incident.ENDTIME
else
  h1='Keine Verkehrsmeldungen vorhanden'